<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <title>Vue 3 Basics</title>
        <link href="note.css" rel="stylesheet">
    </head>
    <body>
        <div id="app" data-v-app="">
            <div>
                <hr>
                <h2> Note down your daily activity</h2>
                <input @keyup.enter="greet(greeting)" v-model="greeting" />
                <form>  
                    <label> Select label </label>  
                    <select v-model="priority">  
                        <option value = "High"> High </option>  
                        <option value = "Medium"> Medium </option>  
                        <option value = "Low"> Low  </option>   
                    </select>  
                </form>  
                <button v-on:click="submitArray(greeting)">POST</button>
                <hr><h2>{{greeting}}</h2>
                <hr />
                <button v-on:click="view_notes">View Notes</button>
                <div id="desc"></div>
                <button v-on:click="toggleBox">TOGGLE BOX</button>
                <div v-if="isVisible" class="box"></div>
            </div>
        </div>

        <script src="https://unpkg.com/vue@next"></script>
        <script>
            let app = Vue.createApp({
                data: function() {
                    return {
                        greeting: 'add note',
                        isVisible: false,
                        notes: new Array(30),
                        priority: "Medium"
                    }
                },
                methods: {
                    greet(greeting) {
                        console.log(greeting)
                    },
                    toggleBox(){
                        this.isVisible =! this.isVisible
                        console.log(this.isVisible)
                    },
                    submitArray(greeting){
                        const d = new Date()
                        this.notes.push([greeting,d,this.priority])
                        console.log(this.notes)
                    },
                    view_notes(){
                        var add=document.getElementById('desc')
                        this.notes.forEach(element => {
                            var userRows = document.createElement('div')
                            userRows.setAttribute("class", "tag-container");
                            let userRow=
                            `<div class="tag-container">
                                <div class="dott"><div class="dot"></div></div>
                                <div class="title"><h3>${element[0]}</h3></div>
                                <div class="abc"><h3>${element[2]}</h3></div> 
                                <div class="abc"><h3>${element[1]} </h3></div> 
                                <div class="abc"><button class="button button3">Remove</button></div>  
                            </div>`
                        userRows.innerHTML = userRow
                        add.appendChild(userRows)
                        });
            
                    }
                }
            })
            app.mount('#app')
        </script>
    </body>
</html>